
body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'Tahoma', sans-serif; 
}

.container {
    /* Ödevde istenen CSS Flexbox kullanımı */
    display: flex;
    flex-direction: column;
    align-items: center;    
    justify-content: space-between; 
    
    height: 100%; /* Ekranın tamamını kapla */
    box-sizing: border-box; 
    padding: 10px 0;
}

/* Genel Kutu Özellikleri */
.box {
    width: 100px;
    height: 100px;
    font-size: 40px;
    text-align: center; 
    border-top: 1px solid #687291; 
    
    
    flex-shrink: 0; 
}



.box:nth-child(odd) {
    background-color: #dfe1e7;
}


.box:nth-child(even) {
    background-color: #eeeff2;
}


.last-box {
    background-color: #687291 !important; 
    border: 4px solid black; 
    
   
    display: flex;
    justify-content: center;
    align-items: center;
    
   
}